<p>
  <strong>Car Registration State Code:</strong>
  <%= @car_registration_state.name %>
</p>

<%= link_to "Edit", edit_car_registration_state_path(@car_registration_state) %> |
<%= link_to "Back", car_registration_states_path %>