<p>
  <strong>Car registration_year Start:</strong>
  <%= @car_registration_year.start %>
</p>
<p>
  <strong>Car registration_year End:</strong>
  <%= @car_registration_year.end %>
</p>
<%= link_to "Edit", edit_car_registration_year_path(@car_registration_year) %> |
<%= link_to "Back", car_registration_years_path %>