<p>
  <strong>Car kilometer driven range:</strong>
  <%= @car_kilometer_driven.range %>
</p>

<%= link_to "Edit", edit_car_kilometer_driven_path(@car_kilometer_driven) %> |
<%= link_to "Back", car_kilometer_drivens_path %>